.radioContainer
{
display:inline-block;
position:relative;
curser:pointer;
font-family:sans-serif;
user-select:none;
padding-left:0px;	
}

.radioContainer input
{
display:;
}

.radioContainer .circle
{
display:inline-block;
background-color:#eee;
position:absolute;
left:0;
top:0;
border-radius:50%;
}

.radioContainer:hover .circl
{
background-color:#ccc;
}

.radioContainer input:checked + .circle
{
background-color:blue;
}
